* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    position: relative;
    padding: 20px;
}

main {
    background-color: #F5F5F5;
    height: 800px;
    max-width: 1800px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.app--dices{
    height: 400px;
    max-width: 800px;
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 30px;
}